@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: auto;
  margin: 0 auto;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.filter-chip {
  @apply rounded-lg border h-6 px-2 text-xs font-semibold;
}

.filter-chip-active {
  @apply bg-blue-100 border-indigo-500 text-indigo-500;
}

.filter-chip-inactive {
  @apply bg-white border-gray-300 text-black hover:bg-indigo-100;
}


.tier-circle {
  width: 3.75rem; /* equivalente a w-7 */
  height: 1.75rem; /* equivalente a h-7 */
  border-radius: 9999px; /* rounded-full */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem; /* text-xs */
  font-weight: 700; /* font-bold */
  color: white;
}

.tier-1 {
  background-color: hsl(220, 96%, 80%);
}

.tier-2 {
  background-color: hsl(0, 0%, 65%);
}

.tier-3 {
  background-color: hsl(0, 0%, 81%);
}